@import url('./reset.css');
@import url('./base.css');
.form {
  display: flex;
  gap: 8px;
  margin: 0 auto;
  margin-top: 36px;
}

.form label {
  display: inline-block;
}
.form input {
  height: 40px;
  padding: 8px 16px;
  font: inherit;
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 4px;
  min-width: 272px;
  &:hover {
    border-color: #000000;
  }
  &:focus {
    border-color: #4e75ff;
    outline: none;
  }
  transition: border-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.form button {
  padding: 8px 16px;
  font: inherit;
  color: #fff;
  font-weight: 500;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #4e75ff;
  &:hover {
    background-color: #6c8cff;
  }
  transition: background-color 0.3s ease;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1128px;
  margin: 0 auto;
  margin-top: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
  box-sizing: border-box;
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
  padding-left: 25px;
  border-top: 1px solid #808080;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
}

.info-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.loader {
  display: block;
  position: relative;
  height: 12px;
  width: 371px;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
}
.loader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #ff3d00;
  animation: 6s prog ease-in infinite;
}

@keyframes prog {
  to {
    width: 100%;
  }
}

.is-hidden {
  display: none;
}
